body,
html {
  margin: 0;
  background-color: $color-white;
}

* {
  transition: background-color 0.4s ease, color 0.3s ease;

  &::before,
  &::after {
    transition: background-color 0.4s ease, color 0.3s ease;
  }

  &.thumbnail {
    transition: filter 0.4s ease;
  }
}

*:not(.material-icons) {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

.material-icons {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
  color: $color-pureblack;
}

ul {
  padding: unset;
  list-style: none;
  color: $color-pureblack;

  li {
    &::before {
      content: '-';
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

p {
  font-weight: normal;
  font-size: 0.8rem;
  color: $color-gray;
}

a {
  text-decoration: none;
  color: $color-pureblack;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.general-enter-active,
.general-leave-active {
  transition: opacity 0.2s ease;
}

.general-enter,
.general-leave-active {
  opacity: 0;
}

@mixin page-base {
  max-width: $width-pc-small;
  margin: 0 auto;
  background-color: $color-purewhite;

  @media screen and (max-width: $width-tablet-small) {
    min-height: calc(var(--vh, 1vh) * 100 - 60px);
    padding: 10px;
  }
}
