.markdown {
  p,
  span,
  a,
  li {
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 13px;
    margin: 60px 0 30px 0;
  }

  a {
    text-decoration: underline;
    padding: 0 5px;
  }
}
