$color-purewhite: var(--colorPureWhite, #fff);
$color-white: var(--colorWhite, #fafafa);
$color-pureblack: var(--colorPureBlack, #000);
$color-darkblack: var(--colorDarkBlack, #010101);
$color-deepblack: var(--colorDarkBlack, #111);
$color-black: var(--colorBlack, #212121);
$color-darkgray: var(--colorDarkGray, #303030);
$color-gray: var(--colorGray, #555);
$color-brightgray: var(--colorBrightGray, #f1f1f1);
$color-lightgray: var(--colorLightGray, #cecece);
$color-purered: var(--colorPureRed, #f00);
$color-red: var(--colorRed, #c00);

$width-pc-large: 1440px;
$width-pc-small: 1280px;
$width-tablet-large: 960px;
$width-tablet-small: 640px;
$width-mobile: 480px;
